@import "tailwindcss";
/* https://fonts.google.com/specimen/Josefin+Sans?selected=Material+Symbols+Outlined:contrast:FILL@0;wght@400;GRAD@0;opsz@24&icon.size=24&icon.color=%23F19E39 */
@theme {
  --color-bgcon: rgba(255, 255, 255, 0.3);
  --color-bgfi: rgba(255, 255, 255, 0.1);
}
@layer components {
  .bg-clip-path {
    clip-path: inset(0 0 0 0 round 5% 20% 0 10%);
  }
  .h1 {
    @apply h-screen w-full bg-pink-200 text-4xl text-center;
  }
}
